# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.pnpm-store

# testing
/coverage

# next.js
/.next/
/out/
/.next/crash-dumps

# production
/build
/dist

# misc
.DS_Store
*.pem
*.tmp
*.swp
*.swo
Thumbs.db
ehthumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# arquivos de cache do npm
.npm

# arquivos de lock alternativos
package-lock.json
# (não ignore o pnpm-lock.yaml)

# arquivos de configuração locais
*.local

# arquivos temporários de editores
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.prettier-cache
